@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Instrument+Sans:wght@600&family=Outfit:wght@400;700&family=Poppins:wght@200;500;700&family=Public+Sans&family=Roboto:wght@100;300;500;700;900&display=swap");

body{
    width: auto;
    width: auto;
    background-color: rgb(218, 209, 209);
}
.container{
    width: 300px;
    height: 470px;
    background-color: white;
    margin: auto;
    margin-top: 8%;
    border-radius: 15px;
    text-align: center;
}
img{
    width: 270px;
    height: 270px;
    margin: 15px;
    border-radius: 10px;
}
.titulo{
    font-family: 'outfit';
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
}
.paragrafo{
    font-family: 'outfit';
    font-size: 15px;
    font-weight: 300;
    margin: 20px;
}